*{
	margin: 0;
}
#content{
	max-width: 300px;
}
input{
	margin: 10px;
}
a{
	text-decoration: none;
	padding: 10px;
	text-align: center;
	color: white;
	float: left;
	margin-right: 5px;
	background-color: #56C6D7;
}
#menu-container{
	padding: 20px;
	display: block;
	float: left;
	width: 20%;
}
li{
	list-style: none;
}

#header,
#content,
footer{
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	margin: 15px;
	display: inline-block;
}

#logo-container	{
	float: left;
	margin-right: 30px;
	display: inline-block;
}
label{
	float: left;
	margin: 10px;
}
.ng-invalid.ng-dirty {
 border-color: #FA787E;
}
.ng-valid.ng-dirty {
 border-color: #78FA89;
}