<h1> Strona główna </h1>
<div class="text">
	<h2> Czym jest AngularJS? </h2>
	<p>AngularJS to JavaScriptowy framework stworzony przez Google, przeznaczony do szybkiego i łatwego budowania aplikacji internetowych. Całość oparta o MVW (Model View Whatever). Pojęcia takie jak JS i MVC (oraz podobne) nie muszą odstraszać, co za chwilę zobaczymy.</p>
</div>