	<h1>Forma do kontaktu</h1>
	<form name="contact" ng-submit="submit()" novalidate/>
		<label for="name">Imię:</label><input type="text" name="usrName" ng-model="email.usrName" value="email.ursName" required/>
		<label for="secName">Nazwisko:</label><input type="text" name="usrSecName" ng-model="email.usrSecName" required/>
		<label for="email">E-mail:</label><input type="email" name="usrEmail" ng-model="email.usrEmail" required/>
		<label for="tel">Telefon:</label><input type="tel" name="usrTel" ng-model="email.usrTel" required/>
		<label for="message">Wiadomość:</label><textarea name="usrMessage" ng-model="email.usrMessage" required></textarea>
		<div>form is {{contact.$valid}}</div>
		<input type="submit" ng-click="submit()" name="submit" value="Submit" />
	</form>
