<h1>Realizacje</h1>
<div class="realizationContainer" ng-controller="RealizationController as realization">
	<div class="realizationList" ng-repeat="obj in realization.list">
		<h1>{{obj.name}}</h1>
		<div class="text">{{obj.description.thumb}}</div>
		<button>Więcej</button>
	</div>
</div>